*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 2rem;
    background: rgb(105, 181, 222);
}

.nav{
    width: 100vw;
    background: #071952;
    display: flex;
    justify-content: center;
    color: #eee;
    align-items: center;
    height: 10rem;
    font-size: 120%;
    padding: 4rem;
    text-transform: uppercase;
}

.list{
    display: flex;
    gap: 6rem;
    list-style: none;
}

.nav > img{
    height: 10vh;
    position: absolute;
    top: 1;
    left: 2rem;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    overflow: hidden;
    width: 65rem;
    height: 20rem;
    position: relative;
    margin-top: 10rem;
}

.slider-inner {
    display: flex;
    transition: transform 0.5s;
}

img {
    width: 20rem; /* Adjust the image width as needed */
    height: 20rem; /* Adjust the image height as needed */
    object-fit: cover;
    margin-right: 3rem;
}

.slider-button {
    margin: 1rem;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
}

.slider-buttons {
    display: flex; /* Display buttons in a row */
    justify-content: center; /* Center buttons horizontally */
}

